.signup-btn-color{

    background: #693D70;
}

.signup-btn-color:hover{

    background: #8c6393;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
}